﻿@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="text-center">

    <h1 class="display-4">Web Service hospital IT ACADEMY</h1>
    <h2>by Matheus, Mathias & Bruno</h2>


    <form method="post">
        <fieldset>
            <legend>Procura Consultas</legend>

            <div>
                <label for="CPF_CRM">CPF/CRM:</label>
                <input type="text" name="CPF_CRM" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>


    <legend>Acesso as Tabelas</legend>
    <p></a>.</p>
    <a asp-page="./Medicos/Index">Tabela Medicos</a>
    <p></a>.</p>
    <a asp-page="./Enfermeiros/Index">Tabela Enfermeiros</a>
    <p></a>.</p>
    <a asp-page="./Pacientes/Index">Tabela Pacientes</a>
    <p></a>.</p>
    <a asp-page="./Especialidades/Index">Tabela Especialidades</a>
    <p></a>.</p>



</div>