﻿@page
@model Hospital.Pages.Triagem.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Triagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Triagem.Cpf" class="control-label"></label>
                <select asp-for="Triagem.Cpf" class ="form-control" asp-items="ViewBag.Cpf"></select>
            </div>
            <div class="form-group">
                <label asp-for="Triagem.Coren" class="control-label"></label>
                <select asp-for="Triagem.Coren" class ="form-control" asp-items="ViewBag.Coren"></select>
            </div>
            <div class="form-group">
                <label asp-for="Triagem.DataConsulta" class="control-label"></label>
                <input asp-for="Triagem.DataConsulta" class="form-control" />
                <span asp-validation-for="Triagem.DataConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Triagem.DescricaoPaciente" class="control-label"></label>
                <input asp-for="Triagem.DescricaoPaciente" class="form-control" />
                <span asp-validation-for="Triagem.DescricaoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Triagem.Prioridade" class="control-label"></label>
                <input asp-for="Triagem.Prioridade" class="form-control" />
                <span asp-validation-for="Triagem.Prioridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
