﻿@page
@model Hospital.Pages.Triagem.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Triagem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.DataConsulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.DataConsulta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.DescricaoPaciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.DescricaoPaciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.Prioridade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.Prioridade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.CorenNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.CorenNavigation.Coren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.CpfNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.CpfNavigation.Cpf)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Triagem.CodTriagem" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
