﻿@page
@model Hospital.Pages.Triagem.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Triagem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.DataConsulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.DataConsulta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.DescricaoPaciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.DescricaoPaciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.Prioridade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.Prioridade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.CorenNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.CorenNavigation.Coren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Triagem.CpfNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Triagem.CpfNavigation.Cpf)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Triagem.CodTriagem">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
