﻿@page
@model Hospital.Pages.Triagem.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Triagem[0].DataConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Triagem[0].DescricaoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Triagem[0].Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Triagem[0].CorenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Triagem[0].CpfNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Triagem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorenNavigation.Coren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfNavigation.Cpf)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CodTriagem">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CodTriagem">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CodTriagem">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
