﻿@model Hospital.Models.Medicos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medicos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Crm" class="control-label"></label>
                <input asp-for="Crm" class="form-control" />
                <span asp-validation-for="Crm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEspecialidade" class="control-label"></label>
                <select asp-for="CodEspecialidade" class ="form-control" asp-items="ViewBag.CodEspecialidade"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
