﻿@page
@model Hospital.Pages.Consultas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Consultas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Consultas.Cpf" class="control-label"></label>
                <select asp-for="Consultas.Cpf" class ="form-control" asp-items="ViewBag.Cpf"></select>
            </div>
            <div class="form-group">
                <label asp-for="Consultas.Crm" class="control-label"></label>
                <select asp-for="Consultas.Crm" class ="form-control" asp-items="ViewBag.Crm"></select>
            </div>
            <div class="form-group">
                <label asp-for="Consultas.Coren" class="control-label"></label>
                <select asp-for="Consultas.Coren" class ="form-control" asp-items="ViewBag.Coren"></select>
            </div>
            <div class="form-group">
                <label asp-for="Consultas.DataConsulta" class="control-label"></label>
                <input asp-for="Consultas.DataConsulta" class="form-control" />
                <span asp-validation-for="Consultas.DataConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consultas.CodTriagem" class="control-label"></label>
                <select asp-for="Consultas.CodTriagem" class ="form-control" asp-items="ViewBag.CodTriagem"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
