﻿@page
@model Hospital.Pages.Consultas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consultas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultas.DataConsulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultas.DataConsulta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultas.CodTriagemNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultas.CodTriagemNavigation.Coren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultas.CorenNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultas.CorenNavigation.Coren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultas.CpfNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultas.CpfNavigation.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultas.CrmNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultas.CrmNavigation.Crm)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Consultas.CodConsultas" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
