﻿@page
@model Hospital.Pages.Consultas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consultas[0].DataConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultas[0].CodTriagemNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultas[0].CorenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultas[0].CpfNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultas[0].CrmNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Consultas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodTriagemNavigation.Coren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorenNavigation.Coren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfNavigation.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrmNavigation.Crm)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CodConsultas">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CodConsultas">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CodConsultas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
