﻿@page
@model Hospital.Pages.Medicos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicos.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicos.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicos.CodEspecialidadeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicos.CodEspecialidadeNavigation.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Medicos.Crm">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
