﻿@page
@model Hospital.Pages.Medicos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicos[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicos[0].CodEspecialidadeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medicos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEspecialidadeNavigation.Descricao)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Crm">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Crm">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Crm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
