﻿@model Hospital.Models.Consultas

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consultas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTriagemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTriagemNavigation.Coren)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorenNavigation.Coren)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfNavigation.Cpf)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmNavigation.Crm)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodConsultas" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
