﻿@page
@model Hospital.Pages.Especialidades.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Especialidades</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidades.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especialidades.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidades.ValorConsulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especialidades.ValorConsulta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidades.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especialidades.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Especialidades.CodEspecialidade">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
